/*Base styles*/

.search {
    margin-top: 11px;
}

.search .form-control {
    padding: 10px 18px;
}

/* Wizard Styles*/

.card-wizard .nav-pills {
    background-color: transparent;
}

.card-wizard .nav-item:not(:last-child) a.nav-link {
    margin-right: 0 !important;
}

.card-wizard .nav-item a.nav-link.active {
    background-color: #fff !important;
    color: rgb(255, 54, 54) !important;
    box-shadow: 0 5px 35px 0 rgba(0, 0, 0, .3) !important;
}


.modal-content .modal-body.wizard-modal {
    padding: 0;
}

.light-icon {
    color: #fff;
}

.opaque {
    opacity: 1;
}

.select2 .select2-container--bootstrap4,
.select2 .select2-selection,
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field,
.select2-container--bootstrap4 .select2-results__option {
    font-size: .8571em;
}

.select2-container--bootstrap4 .select2-results__option {
    padding: 0.375rem;
}

.select2-container--bootstrap4 .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(255, 54, 54);
}

.select2-container--bootstrap4.select2-container--focus .select2-selection,
.select2-container--bootstrap4.select2-container--open .select2-selection {
    border-right-color: rgb(255, 54, 54);
    border-left-color: rgb(255, 54, 54);
    border-top-color: rgb(255, 54, 54);
}
.select2-container--bootstrap4.select2-container--focus .select2-selection,
.select2-container--bootstrap4.select2-container--open .select2-selection {
    border-bottom-color: rgb(255, 54, 54);
}

.select2-container--bootstrap4 .select2-dropdown {
    border-color: rgb(255, 54, 54);
}

.select2 .select2-selection {
    padding-left: 18px;
}

/* z-index fixes*/
.select2-close-mask,
.select2-dropdown,
.input-group > .select2-container--bootstrap4,
.input-group > .select2-container--bootstrap4.select2-container--open,
.input-group > .select2-container--bootstrap4.select2-container--focus {
    z-index: 1050;
}


.required:before {
    content: "*";
    font-weight: bold;
    color: red;
}



form .error {
    color: #ff0000;
}

.overlayimg {
    background: url(../img/background_fmbn.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    display: block;
}

    .overlayimg:before {
        background-color: black;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.4;
    }