@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lafarge Africa Plc is a member of the Holcim Group - 
    the global leader in innovative and sustainable building solutions. 
    It was incorporated on 24th February, 1959 and listed as a publicly quoted company on the Nigerian Exchange Group (NGX) on 17th February, 1979.
    Lafarge serves Nigeria with a wide range of building and construction solutions designed to meet housing and construction needs from small projects like individual home buildings to major construction and infrastructure projects</p>
</div>
