@model TimeSheetApplication.Model.LoginVM
@{
    ViewBag.Title = "Lafarge Africa Plc";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<form method="post">

    <div class="form-outline mb-4">
        <input type="text" asp-for="UserName" id="userName" class="form-control" style="color:white" />
        <label class="form-label" style="color:white" for="userName">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="password" asp-for="Password" class="form-control" style="color:white" />
        <label class="form-label" style="color:white" for="password">Password</label>
    </div>

    <div class="form-outline mb-4">
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)

            </label>

        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">
        Login
    </button>
</form>
<!-- Submit button -->

